<div class="home-profile-content wid-80">
    <div class="user-details home-user-details">
        <h1><i class="fa fa-user" aria-hidden="true"></i> <%=user.username%></h1>
    </div>
    
    <div class="user-posts home-user-posts">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a href="/dashboard/profile" class="nav-link <%=classes[0]%>" aria-current="page">Posts: <%=user.posts.length%></a>
            </li>
            <li class="nav-item">
              <a href="/dashboard/profile/followers" class="nav-link <%=classes[1]%>">Followers: <%=user.followers.length%></a>
            </li>
            <li class="nav-item">
                <a href="/dashboard/profile/following" class="nav-link <%=classes[2]%>">Following: <%=user.following.length%></a>
            </li>
        </ul>