<div class="home-profile-content wid-80">
    <div class="user-details home-user-details">
        <h1>
          <% if(user.profilePic){ %>
            <img class="profile-img" src="<%=user.profilePic%>" style="height: 60px; width: 60px;" alt="user-img">
          <% }else{ %>
            <img class="profile-img" src="//www.gravatar.com/avatar/<%=user.emailHash%>?d=retro&s=60" alt="user-img">
          <% } %>
          <%=user.username%></h1>
    </div>
    
      <div class="user-posts home-user-posts">
          <ul class="nav nav-tabs">
              <li class="nav-item">
                <a href="/dashboard/profile" class="nav-link <%=classes[0]%>" aria-current="page">Posts: <%=user.posts.length%></a>
              </li>
              <li class="nav-item">
                <a href="/dashboard/profile/followers" class="nav-link <%=classes[1]%>">Followers: <%=user.followers.length%></a>
              </li> 
              <li class="nav-item">
                  <a href="/dashboard/profile/following" class="nav-link <%=classes[2]%>">Following: <%=user.following.length%></a>
              </li>
          </ul>
    





