<%- include('partials/header') %>

      <div class="home-dashboard-content wid-80">
        <!-- success failure messages -->
        <%- include('partials/messages/success-failure')%>
        
        <% if(posts.length === 0){  %>
          <h1 style="text-align: center;">Hi <%=user.username%> , your SociApp feed is empty.</h1>
          <p style="text-align: center;">
            Your feed is empty because you do not follow any SociApp user or the users you follow have no any posts yet.
            If the reason is former one, then just use the "Search" feature in the above menu and search for your friends or their posts related something. After you find them, you can follow them to get the access of their posts on right here.
          </p>
      <% }else{  %>
        <h2 class="latest-heading">Latest posts from the people you follow</h2>
        <% posts.sort((post1, post2) => (post1.date > post2.date) ? -1 : 1)%>
        <% posts.forEach(post=>{  %>
            <div class="card">
              <h5 class="card-header small">The post by <a href="/users/<%=post.postedBy%>" class="text-secondary"><%=post.username%></a> on <%=post.postedOn%> </h5>
              <div class="card-body">
                <h5 class="card-title custom-post-title-font"><%=post.title.substr(0, 30)+" --- "%></h5>
                <p class="card-text custom-post-content-font"><%=post.body.substr(0, 250)+"......" %></p>
                <a href="/posts/<%=post._id%>" class="custom-btn blue-custom-btn">read full post</a>
              </div>
            </div>
            <br>
          <% }) %>
        <% }  %>

      </div>

<%- include('partials/footer') %>