<%- include('partials/header') %>

      <div class="home-dashboard-content wid-80">
        <!-- success failure messages -->
        <%- include('partials/messages/success-failure')%>
        
        <% if(posts.length === 0){  %>
          <h1 style="text-align: center;">Hello <%=user.username%> , your feed is empty.</h1>
          <p style="text-align: center;">Your feed displays the latest posts from the people you follow. If you don’t have any friends to follow that’s okay; you can use the “Search” feature in the top menu bar to find content written by people with similar interests and then follow them.</p>
      <% }else{  %>
        <h2 class="latest-heading">Latest from the people you follow</h2>
        <% posts.sort((post1, post2) => (post1.date > post2.date) ? -1 : 1)%>
        <% posts.forEach(post=>{  %>
            <div class="card">
              <h5 class="card-header small">The post by <a href="/users/<%=post.postedBy%>" class="text-secondary"><%=post.username%></a> on <%=post.postedOn%> </h5>
              <div class="card-body">
                <h5 class="card-title custom-post-title-font"><%=post.title.substr(0, 30)+" --- "%></h5>
                <p class="card-text custom-post-content-font"><%=post.body.substr(0, 200)+"......" %></p>
                <a href="/posts/<%=post._id%>" class="btn btn-sm btn-dark custom-read-more-btn">read full post</a>
              </div>
            </div>
            <br>
          <% }) %>
        <% }  %>

      </div>

<%- include('partials/footer') %>