<%- include('partials/header') %>

<div class="home-profile-content wid-80">
  <div class="user-details home-user-details">
      <h1><i class="fa fa-user" aria-hidden="true"></i> <%=user.username%></h1>
      <a href="#" type="button" class="btn btn-primary btn-sm btn-block">Follow+</a>
  </div>
    <br>
    <div class="user-posts home-user-posts">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page">Posts: <%=user.posts.length%></a>
            </li>
        </ul>        
        <div class="user-posts-container">
          <% if(user.posts.length === 0){  %>
              <h1 style="font-size: 300%; text-align: center; margin-top: 10%; color: rgb(79, 79, 79);">No posts yet!!!                 
              </h1>
          <% }else{  %>
            <% user.posts.slice().reverse().forEach(post=>{  %>
                <div class="user-post">
                  <h5><a href="/posts/<%=post._id%>"><%=post.title.substr(0, 70)+" --- "%>Read Full Post</a></h5>
                  <p><small><%=post.body.substr(0, 300)+"......" %></small></p>
                  <p><b>Posted by </b><%=user.username%> on <%=post.postedOn%> </p>
                </div>
              <% }) %>
            <% }  %>
        </div>  
    </div>
</div>

<%- include('partials/footer') %>