<%- include('partials/header') %>

      <%- include('partials/profileHead')%>

            <%  if(successMsg.length!=0){ %>
              <div class="message success-message">
                <p class="message-content"><%=successMsg%></p>
              </div>
            <% } %>

            <%  if(errorMsg.length!=0){ %>
              <div class="message error-message">
                <p class="message-content"><%=errorMsg%></p>
              </div>
            <% } %>
        
            <div class="user-posts-container">
              <% if(user.posts.length === 0){  %>
                  <h1 style="font-size: 300%; text-align: center; margin-top: 10%; color: rgb(79, 79, 79);">No posts yet!!!<br><a href="/dashboard/create" class="btn btn-success btn-sm me-md-2" type="button">Create a post</a>
                  </h1>
              <% }else{  %>
                <% user.posts.slice().reverse().forEach(post=>{  %>
                    <div class="user-post">
                      <h5><a href="/posts/<%=post._id%>"><%=post.title.substr(0, 70)+" --- "%>Read Full Post</a></h5>
                      <p><small><%=post.body.substr(0, 300)+"......" %></small></p>
                      <p><b>Posted by </b><%=user.username%> on <%=post.postedOn%> </p>
                    </div>
                  <% }) %>
                <% }  %>
            </div>
          
      <%- include('partials/profileFoot')%>

<%- include('partials/footer') %>