<%- include('partials/header') %>

    <%- include('partials/profileHead')%> 
          <%  if(successMsg.length!=0){ %>
            <div class="message success-message">
              <p class="message-content"><%=successMsg%></p>
            </div>
          <% } %>

          <%  if(errorMsg.length!=0){ %>
            <div class="message error-message">
              <p class="message-content"><%=errorMsg%></p>
            </div>
          <% } %>
          
          <div class="user-followers-container">
            <% if(user.followers.length === 0){ %>
              <h1 style="font-size: 300%; text-align: center; margin-top: 10%; color: rgb(79, 79, 79);">You have not any follower yet!!!
                </h1>
            <% }else{ %>
              <% user.followers.forEach(follower=>{  %>
                <div class="user-follower">
                  <h5><%=follower.username%></h5>
                </div>
              <% }) %>
            <% } %>
          </div>
    <%- include('partials/profileFoot')%>

<%- include('partials/footer') %>