<%- include('partials/header') %>

      <%- include('partials/profileHead')%>
            <div class="user-following-container">
              <% if(user.following.length === 0){ %>
                <h1 style="font-size: 300%; text-align: center; margin-top: 10%; color: rgb(79, 79, 79);">You don't follow anyone!!!
                  </h1>
              <% }else{ %>
                <% user.following.forEach(following=>{  %>
                  <div class="user-following">
                    <h5><%=following.username%></h5>
                  </div>
                <% }) %>
              <% } %>
            </div>
      <%- include('partials/profileFoot')%>

<%- include('partials/footer') %>