    <%- include('partials/header') %>
        <div class="search-container">
            <div class="search-panel-wrapper">
                <div class="search-sociapp">
                    Search Sociapp
                </div>
                <form action="/dashboard/search/key" method="post">
                    <input type="search" name="search" id="search" placeholder="search username or post related something">
                </form>
            </div>
            <div class="usersMatched">
                <h5>Matched Users</h5>
                <%  if(users.length!=0){   %>
                    <%  users.forEach(matchedUser=>{   %>
                        
                        <div class="user-card">
                            <div>
                                <% if(matchedUser.profilePic){ %>
                                    <img class="profile-img" src="<%=matchedUser.profilePic%>" style="height: 35px; width: 35px;" alt="user-img">
                                  <% }else{ %>
                                    <img class="profile-img" src="//www.gravatar.com/avatar/<%=matchedUser.emailHash%>?s=35" alt="user-img">
                                  <% } %>
                            </div>
                            <div><a href="/users/<%=matchedUser.id%>"><%=matchedUser.username%></a></div>
                        </div>
                    <%  })   %> 
                <%  }else{   %>
                    <div class="user-card">
                        <div>No user found</div>
                    </div>
                <%  }   %>
            </div>
            <div class="postsMatched">
                <h5>Matched Posts</h5>
                <%  if(posts.length!=0){   %>
                    <%  posts.forEach(postMatched=>{   %>
                        <div class="post-card">
                            <div class="matched-post-content">
                                <a href="/posts/<%=postMatched.id%>"><%=postMatched.title%></a>
                            </div>
                        </div>
                    <%  })   %>
                <%  }else{   %>
                    <div class="post-card">
                        <div class="matched-post-content">
                            No posts found
                        </div>
                    </div>
                <%  }   %>
            </div>
        </div>

    <%- include('partials/footer') %>
    <!-- </div>
</body>
</html> -->