<%- include('partials/header') %>

        <div class="single-post-content wid-80"> 
            <div class="post-head-content-flex">
              <div class="post-head-left">
                <h2><%=post.title%></h2>
                <p><b>Posted by</b> <a href="#" class="post-writer-name"><%=username%></a> on <%=post.postedOn%></p>
              </div>
              <div class="post-head-right">
                <a class="edit m-3" href="/posts/<%=post._id%>/update">edit</a>
                <a class="delete" href="/posts/<%=post._id%>/delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
              </div>
            </div>
            <hr>
            <div class="post-body-content">
              <%=post.body%>
            </div>
        </div>
        <div class="comments wid-80">
          <h3>Comments</h3>
          <div class="comment-form">
            <form action="/posts/<%=post._id%>/post_comment" method="post">
              <div class="mb-3">
                <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> -->
                <textarea class="form-control" id="commentBody" name="commentBody" rows="5"  placeholder="write comment here...."></textarea>
              </div>
              <div class="mb-3">
                <button class="btn btn-primary" type="submit">Post comment</button>
              </div>
            </form>
          </div>
          <hr>
          <div>
            <div class="comment">
              <%  post.comments.slice().reverse().forEach(comment=>{  %>
                <figure>
                  <blockquote class="blockquote">
                    <p style="font-size: 15px;"><%=comment.body%></p>
                  </blockquote>
                  <figcaption class="blockquote-footer" style="font-size: 13px;">
                    By <%=comment.user.username%> on <cite title="Source Title"><%=comment.user.time%></cite>
                  </figcaption>
                </figure>
                <hr>
                <%  });  %>
            </div>
          </div>

        </div>

<%- include('partials/footer') %>